.interview-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.8em;
  word-break: break-all;

  .interview-card {
    height: min-content;
    padding: 0.5em 1em;
    width: 18em;
    box-sizing: border-box;
    border-radius: 5px;
    border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary);
    box-shadow: 0 0 4px 0 color-mix(in srgb, var(--ant-color-text) 15%, transparent);

    .info {
      .time-left {
        color: var(--ant-color-text-secondary);
        font-size: calc(0.8 * var(--ant-font-size));
        border-bottom: 1px solid var(--ant-color-border);
        margin-bottom: 0.4em;
      }
    }

    .operations {
      margin-top: 0.4em;
      align-self: flex-end;
    }
  }
}
