.card {
  margin: 1em 1%;
  padding: 0 min(3%, 3em) 2em;
  flex: 1 1 auto;
  max-width: min(95%, 54em);
  white-space: pre-wrap;

  .title {
    text-align: center;
  }

  .divider {
    margin: 1.2em 0 0;
  }

  .group:not(:first-child) .divider {
    margin: 2.4em 0 0;
  }

  .success-subtitle {
    margin: 2em;
  }

  .support {
    display: block;
    text-align: center;
    font-size: calc(.89 * var(--ant-font-size));
    // text-decoration: underline dashed 1px;
    // text-decoration-color: initial;
    // text-underline-offset: calc(.223 * var(--ant-font-size));
  }
}