.editor {
  max-height: 100%;

  .anchor {
    &.hidden {
      display: none;
    }

    flex: 0 2 0;

    .tab {
      max-width: 8em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .page {
    max-height: 100%;
    overflow: hidden auto;
    flex: 1 1 auto;
    position: relative;
    white-space: pre-wrap;

    .form {
      margin: 1.8em 2em;
      background: var(--ant-color-bg-container);
      padding: 4em 5em 6em;

      .title {
        text-align: center;
      }

      .group {
        margin: 1.2em 0 0;

        .choice-type {
          min-width: 6em;
        }
      }
    }
  }

  .pre-editor {
    width: 100%;

    .question-container {
      width: 100%;
    }

    .ops {
      opacity: 0;
      transition: all 0.2s;
    }

    &:hover .ops {
      opacity: 1;
    }
  }

  .editing {
    .prompt {
      flex: 0 0 auto;
    }

    .choice-card {
      padding: 0.15em 0.3em;
      border-radius: calc(0.75 * var(--ant-border-radius-lg));
      border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);

      .group-select {
        min-width: 4.5em;
      }
    }
  }

  .group-select {
    min-width: 6em;
  }
}
