.editor {
  max-height: 100%;

  .anchor {
    &.hidden {
      display: none;
    }

    flex: 0 2 0;

    .tab {
      max-width: 8em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .page {
    max-height: 100%;
    overflow: hidden auto;
    flex: 1 1 auto;
    position: relative;

    .form {
      display: flex;
      flex-direction: column;
      margin: 1.8em 2em;
      background: var(--ant-color-bg-container);
      padding: 4em 5em 6em;

      .title {
        text-align: center;
        font-weight: bold;
        font-size: calc(var(--ant-font-size) * 1.75);
        margin: 0 0 1.8rem 0;
      }

      .desc {
        white-space: pre-wrap;
      }

      .group {
        margin: 1.2em 0 0;

        .choice-type {
          min-width: 6em;
        }
      }
    }
  }

  .pre-editor {
    .ops {
      opacity: 0;
      transition: all .2s;
    }

    &:hover .ops {
      opacity: 1;
    }
  }

  .editing {

    .prompt {
      flex: 0 0 auto;
    }

    .choice-card {
      padding: .05em .2em;
      border-radius: calc(0.75 * var(--ant-border-radius-lg));
      border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);

      .group-select {
        min-width: 4.5em;
      }
    }
  }

  .group-select {
    min-width: 6em;
  }
}