.question {
  flex-wrap: wrap;
  flex: 1 1 auto;

  input[type="number"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
  }

  .desc {
    color: var(--ant-color-text-secondary);
    font-size: calc(.9 * var(--ant-font-size));
  }
}