.question-container {
  flex-wrap: wrap;
  width: 100%;

  .question {
    .ques-title {
      display: block;
      text-align: initial;
      white-space: pre-wrap;
    }

    .desc {
      white-space: pre-wrap;
      display: block;
      color: var(--ant-color-text-secondary);
      font-size: calc(.95 * var(--ant-font-size));
      display: block;
      padding: var(--ant-form-vertical-label-padding);
    }
  }

  .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
    align-items: flex-start;

    &::before {
      line-height: var(--ant-line-height) !important;
    }
  }

  input[type="number"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
  }

  &.with-desc .form-item .ant-form-item-label {
    padding: 0;
  }

  .select {
    min-width: 10em;
  }
}