.question {
  flex-wrap: wrap;
  width: 100%;

  input[type="number"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
  }

  .desc {
    color: var(--ant-color-text-secondary);
    font-size: calc(.9 * var(--ant-font-size));
  }

  .select {
    min-width: 10em;
  }
}