html,
body {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

.app {
  min-height: 100vh;
  background-color: var(--ant-color-bg-layout);
}

span.ant-dropdown-menu-title-content > button.ant-btn {
  width: 100%;
  text-align: initial;
}
